<div class="modal fade" id="addMemoryWindow" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-lg" style="width:633px;">
        <div class="modal-content">
          <div class="modal-header">
    <div>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=1435ed3c-5da6-4707-ab5e-05acf394d294&lang=ru_RU" type="text/javascript"></script>
                      <script type="text/javascript">

                            ymaps.ready(init);
                            coords = [{{ memory.lat }}, {{ memory.lon }}]
                            function init() {
                                var map = new ymaps.Map("map", {
                                    center: coords,
                                    zoom: 17,
                                    controls: ['zoomControl']
                                });
                                var placemark = new ymaps.Placemark(coords, {}, {draggable: false});
                                map.geoObjects.add(placemark);

                            }
                     </script>
                     <div id="map" style="width: 600px; height: 400px"></div>
    </div>
    <div style="padding-top:20px">
        <p>Заголовок: {{ memory.title }}</p>
        <p>Описание: {{ memory.description }}</p>
    </div>
          </div>

        </div>
      </div>
    </div>
