{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<hr>
    <button style="background-color:#7746C0;color:white" type="button" class="btn shadow-none" data-bs-toggle="modal" data-bs-target="#addMemoryWindow">
        <span class="glyphicon glyphicon-plus"></span>
      + Добавить воспоминание
    </button>
    {% if memories %}
        <div style="padding-top:50px;">
            {% for memory in memories %}
                <p>
                    <a href="{{ memory.get_absolute_url }}">{{ memory.title }}</a>
                </p>
                <p style="font-size:8px;padding-bottom:15px;">{{ memory.pub_date }}</p>
            {% endfor %}
        </div>
    {% else %}
        <div class="content" style="font-size:22px">У вас нет воспоминаний.</div>
    {% endif %}


    <!-- Modal -->
    <div class="modal fade" id="addMemoryWindow" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-lg" style="width:633px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Новое воспоминание</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
               <form action="{% url 'get_post' %}" method="post">
                   {% csrf_token %}
                   <div class="containter text-center" align="right">
                       <script src="https://api-maps.yandex.ru/2.1/?apikey=1435ed3c-5da6-4707-ab5e-05acf394d294&lang=ru_RU" type="text/javascript"></script>
                       <script type="text/javascript">
                           ymaps.ready(init);
                           var coords = [55.76, 37.62]
                           function init() {
                               var map = new ymaps.Map("map", {
                                   center: coords,
                                   zoom: 11,
                                   controls: ['zoomControl']
                               });
                               var placemark = new ymaps.Placemark(coords, {}, {draggable: true});
                               map.geoObjects.add(placemark);

                               document.getElementById('coords_id').value = coords.toString();
                               placemark.events.add('dragend', function(e) {
                                   coords = String(e.get('target').geometry.getCoordinates());
                                   document.getElementById('coords_id').value = coords.toString();
                               });
                           }
                       </script>
                      <div id="map" style="width: 600px; height: 400px"></div>
                      </div>
                  <div class="mb-3">
                      <label for="title" class="col-form-label">Заголовок:</label>
                      <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Описание:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>

                      <input type="hidden" name="coords" value="" id="coords_id">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit" class="btn btn-primary" value="">Сохранить</button>
                  </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    {% else %}
    <div class="content">
        <div class="containter text-center">
            <a href="{% provider_login_url 'vk' %}"><strong>Войти через VK</strong></a><br>
<!--            <a href="https://127.0.0.1:8443/accounts/facebook/login/" class="btn" style="text-align:center ;width:200px;color:white;background-color:#4c75a3;"><strong>Войти через VK</strong></a>-->
            <a href="{% provider_login_url 'facebook' %}"><strong>Войти через Facebook</strong></a><br>
<!--            <a href="https://127.0.0.1:8443/accounts/facebook/login/" class="btn" style="width:200px;color:white;background-color:#4267B2;"><strong>Войти через Facebook</strong></a>-->
        </div>
    </div>
{% endif %}
{% endblock %}