<!doctype html>
<html lang="en">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=1435ed3c-5da6-4707-ab5e-05acf394d294&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init() {
            var map = new ymaps.Map("map", {
                center: [55.76, 37.62],
                zoom: 11,
                controls: ['zoomControl']
            });

            var placemark = new ymaps.Placemark([55.76, 37.62], {}, {draggable: true});
            var placemark2
            map.geoObjects.add(placemark);



            placemark.events.add('dragend', function(e) {
                coords = e.get('target').geometry.getCoordinates()
            });
        }

    </script>

    Coords: {{ asd }}
    <div id="map" style="width: 600px; height: 400px"></div>
</html>